asttokens
blinker
cachelib
certifi
charset-normalizer
click
comm
cs50
debugpy
decorator
exceptiongroup
executing
Flask
Flask-Session
greenlet
gunicorn
idna
itsdangerous
jedi
Jinja2
MarkupSafe
nest-asyncio
packaging
parso
pexpect
platformdirs
prompt-toolkit
psutil
psycopg2-binary
ptyprocess
pure-eval
Pygments
python-dateutil
pytz
pyzmq
requests
six
SQLAlchemy
sqlparse
stack-data
termcolor
tornado
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
