main {
    overflow-x: scroll;
    
}


nav#mynav {
    position: sticky;
}

a.navbar-brand,
a.nav-link {
    font-family: 'Merriweather', serif;
}


a:active {
    color: rgb(155, 155, 155);
}

#comments {
    /* display: none; */
}



@media screen and (max-width: 600px) {
    form.form-control {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: red; */
    }
}

@media screen and (min-width:600px) {
    select.form-select {
        display: inline;
        width: 10rem;
    }

    form#add-form {
        margin: 0 20%;
    }

    #add-form-div {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .btn {
        width: 20%;
        
    }

}
    
