{% extends "layout.html" %}
{%block title%}

{% endblock %}

{% block main %}

        <form action="/add" method="post" class="form-control">

            <input type="text" list="stocks" autocomplete="on" placeholder="Symbol" name="symbol" autofocus size="8" class="form-control"/>
            <datalist id="stocks" name="symbol">
                <option value="hjfds">jf</option>
            </datalist>
            <select name="transaction_type" id="" class="form-select">
                <option value="buy">Buy</option>
                <option value="sell">Sell</option>
            </select>
            <input type="number" name="quantity" placeholder="Quantity" size="8">
            <input  name="price" placeholder="Price per share" size="8">
            <input type="date" name="date" id="">
            <button type="submit" class="btn btn-primary">Add</button>
            
        </form>
{% endblock %}