
{% extends "layout.html" %}

{%block title %}
    Transaction History
{% endblock %}


{% block main %}


    {% if history %}
        <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Shares</th>
            <th scope="col">Price/share</th>
            <th scope="col">Type</th>
            <th scope="col">Total</th>
            <th scope="col">
                
                <a href="history?order=transaction_date">Date</a>
            </th>
            <th scope="col">
                <a href="history?order=profit">Profit</a>
            </th>
            </tr>
        </thead>
                <tbody class="table-group-divider">
                    {% for transaction in history %}
                    <tr>
                    <td> <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                        href="/history/{{transaction.transaction_id}}">{{transaction.symbol}}</a> 
                        {% if transaction.comments %}
                            <i class="bi bi-chat-square-text"></i>
                        {% endif %}
                    </td>
                    <td>{{transaction.shares}}</td>
                    <td>{{transaction.price | usd }} </td>
                    <td>{{transaction.transaction_type}}</td>
                    <td>{{ (transaction.price * transaction.shares) | usd }}</td>
                    <td>{{transaction.transaction_date}}</td>
                    {% if transaction.profit != None %} 
                    <td>
                        <!-- <i class="bi bi-caret-down-fill "></i> -->
                        <span class="profits">
                            {{transaction.profit | usd}}
                        </span>
                    </td>
                    {% else %}
                    <td>
                        N/A 
                    </td>
                        <!-- <i class="bi bi-caret-down-fill"></i> -->
                    {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr >
                        <td class="fw-bold text-end border-0" colspan="6">TOTAL</td>
                        <td class="profits border-0">{{total_profit | usd}}</td>
                    </tr>
                </tfoot>
        </table>
    {% endif %}
    <script>
        let profits = document.querySelectorAll('.profits');
        profits.forEach( (element) => {
            // js does care about the emoy space inside tha element unlike html
            // if you don't call trim it will read the inner string with new lines if it has them.
            profit = element.innerHTML.trim();
            // remove the $ symbol at the beginning
            profit = profit.slice(1);
            // convert into float to see if it is a gain or a loss
            profit = parseFloat(profit);
            if (profit < 0) {
                element.style.color = 'red';
            }
            else {
                element.style.color = 'green';
            }

        });
    </script>
{% endblock %}